@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    cleaning request by customer
    <form method="post">
        Room #
        <input type="number" name="RoomNumber" min="1" max="12" /> <br />
        Schedule
        <input type="date" name="Schedule" /><br />
        <input type="submit" /><br />
    </form>
</div>
